@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap');

body {
	margin: 0;
	font-family: 'Quattrocento Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.app {
	padding: 0 20px;
}

.noBorder {
	border: none;
	&::before {
		content: none;
	}
}
.border {
	border: 2px dashed #000;
	margin: 5px;
	&::before {
		content: attr(data-component);
		background: #fff;
		position: sticky;
		margin-left: 2px;
	}
}

.border-cookie {
	border-color: blue;
}
.border-header {
	border-color: aqua;
}
.border-front {
	border-color: deeppink;
}
.border-user {
	border-color: orange;
}
.border-store {
	border-color: darkmagenta;
}
