.remote {
	.title {
		margin-top: 10px;
		font-size: 25px;
	}

	.card {
		background: #4256b0;
		box-shadow: 0 0 20px rgba(232, 229, 229, 0.4);
		border-radius: 5px;
		margin: 20px 20px 20px 20px;
		width: 250px;
		padding: 20px;
		text-align: center;
		color: white;
		float: left;

		& button {
			background-color: #4ec6e0;
			margin-top: 10px;
			border-radius: 0.25rem;
			font-weight: 700;
			padding: 0.5rem 1rem;
			color: rgb(24, 24, 24);
		}

		svg {
			width: 100px;
			height: 100px;
			& path {
				fill: #4ec6e0;
			}
		}
	}
}
